@font-face {
  font-family: Departure Mono;
  src: url('fonts/ProggyCleanSZNerdFont-Regular.woff2') format('woff2'),
       url('fonts/ProggyCleanSZNerdFont-Regular.woff') format('woff'), /* Optional, but good for broader support */
       url('fonts/ProggyCleanSZNerdFont-Regular.ttf') format('truetype');
}
* {
  
    box-sizing: border-box;
  }
  
  
  

 
  
  
  /* Dropdowns */
  
  
  @media (max-width: 768px) {
    .hamburger {
      display: flex;
    }
  
    .nav-links {
      flex-direction: column;
      background-color: black;
      width: 100%;
      position: absolute;
      top: 65px;
      right: 0;
      display: none;
      text-align: center;
      padding-bottom: 1rem;
    }
  
    .nav-links.active {
      display: flex;
    }
  

  
    .dropdown.open .dropdown-menu {
      display: block;
      position: static;
      box-shadow: none;
    }
  
  }
