@font-face {
  font-family: Departure Mono;
  src: url("ProggyCleanSZNerdFont-Regular.ttf") format("opentype")
}
@import "tailwindcss" layer(tw);
@layer tw, tw.theme, tw.base, tw.components, tw.utilities, custom;
@layer custom {
}


body {
  font-family: Departure Mono, monospace;
  font-weight: 200;
  font-style: normal;
  background-color: oklch(27.8% 0.033 256.848);
  
}

